@use 'utility';

.social{
    @include utility.width-page;
    display: flex;
    justify-content: center;
    gap: 1rem;

    & a{
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        display: inline-block;
        display: grid;
        place-items: center;
        border: thin solid #fff;
        border-radius: 50%;
        @include utility.circle-size(35px);

        &:hover{
            color: var(--soft-magenta);
            border-color: var(--soft-magenta);
        }
    }

    @include utility.desktop{
        padding-top: 0;
        justify-content: end;
        gap: 1.5rem;

        & a{
            font-size: 1.4rem;
            @include utility.circle-size(40px);
        }
    }

}